<div class="jumbotron">

    <h1>Shopping List</h1>

</div>

<div class="main">

    <section>

        <shopping-list-add (addRequest)="addShoppingItem($event)"></shopping-list-add>

    </section>

    <section>

        <h3>My Shopping Items</h3>

        <div class="list-group">

            <a *ngFor="let item of listItems" class="list-group-item">

                <span class="badge">{{ item.amount }}</span>

                {{ item.name }} 

            </a>

        </div>

    </section>

    <section>

        <shopping-list-edit></shopping-list-edit>

    </section>

</div>